@page "/fetchdata"
@inject Protos.Wallet.WalletClient walletClient;

<PageTitle>Weather forecast</PageTitle>

<h1 class="text-lg">Wallets From GRPC</h1>

@foreach (var w in wallets)
{
    <h2 class="text-2xl">@(Counter++) : @w</h2>
}

@code {

    private int Counter { set; get; } = 1;

    private List<string> wallets { set; get; } = new List<string>();

    protected async override Task OnInitializedAsync ()
    {
        var response = await walletClient.GetWalletsAsync(new GetWalletsRequest());

        this.wallets = response.Wallets.Select(i => i).ToList();

        return;
    }
}
